# Default values for funcx.
# This is a YAML-formatted file.
ingress:
  enabled: false
  host: uc.ssl-hep.org

webService:
  image: funcx/web-service
  tag: 213_helm_chart
  pullPolicy: IfNotPresent

  dbSetupImage: funcx/web-service-db
  dbSetupTag: 213_helm_chart
  dbSetupPullPolicy: IfNotPresent

  replicas: 1
  globusClient: <<your app client>>
  globusKey: <<your app key>>

postgres:
  enabled: true

postgresql:
  postgresqlUsername: funcx
  postgresqlPassword: leftfoot1
  postgresqlDatabase: public

  persistence:
    enabled: true

redis:
  usePassword: false
  master:
    persistence:
      enabled: false
  slave:
    persistence:
      enabled: false


